@use './variables' as *;

.about {
    color: $text-white;

    .top_about {
        .container-fluid {
            .row {
                .col {
                    .text_area {
                        width: 45%;

                        .b_title {
                            .decoration_line {
                                height: 5px;
                                background-color: #39FFBF;
                                width: 13%;
                            }
                        }
                    }
                }
                .col-6{
                    .teams_img{
                        background-color: $bg-red ;
                        img{
                            filter: opacity(0.5);
                        }
                    }
                }
            }
        }

    }

    .bottom {
        width: 90%;
        background-color: $bg-gren-2 ;
        color: $text-grey-10;

        button {
            background-color: $bg-red ;
            color: $text-white;
            right: 0;
        }

        button:hover {
            color: $text-white ;
            background-color: $bg-grey-3 ;
        }
    }
}