@use './variables' as *;

.services {
    color: $bg-white;

    .container-fluid {
        max-width: 1600px;

        .row {
            .col {
                .b_title {
                    width: 60%;

                    .decoration_line {
                        height: 5px;
                        background-color: #39FFBF;
                        width: 5%;
                    }
                }

                h2 {
                    width: 30%;
                }
            }


        }

    }

    .show_badges {
        color: $text-grey-10;
        max-width: 100%;
        background-color: $bg-white;

        .row {
            width: 92%;

            .col {
                .bage {
                    width: 29%;
                    top: -43%;

                    .text {
                        z-index: 5;
                        top: 60%
                    }

                    img {
                        z-index: 2;
                        width: 100%;
                        display: none;
                    }
                }

                .bage:hover {
                    .text {
                        color: $text-white ;
                        padding: 0 2rem;
                    }
                    img{
                        display: block;
                        
                    }
                }
            }

        }
    }
}