/* colors */

    /* Background Colors */
    $bg-white: #ffffff ;
    $bg-white-2: #FFFFFF1A;
    $bg-white-3: #FFFFFF80;
    $bg-gren:#39FFBF;
    $bg-gren-2: #35FFBF;
    $bg-blue: #527CEB;
    $bg-red: #F81D39;
    $bg-red-2: #F00E2E;
    $bg-grey:#3D3D3D;
    $bg-grey-2: #333333;
    $bg-grey-3: #1F1E38;
    $bg-grey-4: #000000B3;
    $bg-grey-5: #000000E6;
    /* text colors */
    $text-white: #FFFFFF;
    $text-white-2: #FFFFFFB0;
    $text-white-3: #FFFFFF99;
    $text-white-4: #FFFFFF80;
    $text-white-5: #FFFFFFB3;
    $text-white-6: #FFFFFFCC;
    $text-white-7: #FFFFFF66;
    $text-green: #39FFBF;
    $text-blue: #1BB0CE;
    $text-red: #F81D39;
    $text-grey: #AAAAAA;
    $text-grey-2: #818A91;
    $text-grey-3: #888888;
    $text-grey-4: #444444;
    $text-grey-5: #3D3D3D;
    $text-grey-6: #1F1E38;
    $text-grey-7: #1F1E38B3;
    $text-grey-8: #1F1E3880;
    $text-grey-9: #1F1E3899;
    $text-grey-10: #000000;
    /* fill colors */
    $fill-white: #FFFFFF;
    $fill-black: #000000;
    /* border */
    $border-white: #FFFFFF;
    $border-white-2 : #FFFFFF26;


